<div class=container *ngIf="this.film">
  <form [formGroup]="formUpdate">
    <div class="form-group">
      <label for="fs_nom">Nom</label>
      <input type="text" class="form-control" id="fs_nom" formControlName="fs_nom">
    </div>
    <div class="form-group">
      <label for="fs_synopsis">Synopsis</label>
      <input type="text" class="form-control" id="fs_synopsis" formControlName="fs_synopsis">
    </div>
    <div class="form-group">
      <label for="fs_date_sortie">Date de Sortie</label>
      <input type="datetime-local" class="form-control" id="fs_date_sortie" formControlName="fs_date_sortie">
    </div>
    <div class="form-group">
      <label for="fs_img">Url vers photo</label>
      <input type="text" class="form-control" id="fs_img" formControlName="fs_img">
    </div>
    <ng-container *ngIf="film.ty_type.ty_id == 1">
      <div class="form-group">
        <label for="fs_saison">Nombre de saison(s)</label>
        <input type="number" class="form-control" id="fs_saison" formControlName="fs_saison" min="0">
      </div>
      <div class="form-group">
        <label for="fs_episode">Nombres totaux d'épisodes</label>
        <input type="number" class="form-control" id="fs_episode" formControlName="fs_episode" min="0">
      </div>
    </ng-container>

    <div class="form-group">
      <button type="submit" class="btn btn-outline-info" (click)="onClickUpdate(this.film.fs_id)"
        *ngIf="formUpdate.valid">Envoyer</button>
      <button type="reset" class="btn btn-outline-info ml-2">Reset</button>
    </div>
  </form>
</div>

{{formUpdate.value | json}}