<h3>Modification de {{this.per?.per_nom}} {{this.per?.per_prenom}}</h3>

<div class=container>
  <form [formGroup]="formUpdatePer">
    <input type="hidden" name="per_id">
    <div class="form-group">
      <label for="per_nom">Nom</label>
      <input type="text" class="form-control" id="per_nom" formControlName="per_nom">
    </div>
    <div class="form-group">
      <label for="per_prenom">Prénom</label>
      <input type="text" class="form-control" id="per_prenom" formControlName="per_prenom">
    </div>
    <div class="form-group">
      <label for="per_genre">Genre</label>
      <select class="custom-select" id="per_genre" formControlName="per_genre">
        <option value="Homme">Homme</option>
        <option value="Femme">Femme</option>
        <option value="Inconnu">Inconnu</option>
      </select>
    </div>
    <div class="form-group">
      <label for="per_ddn">Date de Naissance</label>
      <input type="date" class="form-control" id="per_ddn" formControlName="per_ddn">
    </div>
    <div class="form-group">
      <label for="per_url">Url vers photo</label>
      <input type="text" class="form-control" id="per_url" formControlName="per_url">
    </div>
    <div class="form-group">      
        <button type="submit" class="btn btn-outline-info" (click)="onClickUpdate()"
          *ngIf="this.formUpdatePer.valid">Envoyer</button>
      <button type="reset" class="btn btn-outline-info ml-2">Reset</button>
    </div>
  </form>
</div>
